<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Hóa Đơn - Bee-Shirt</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="../assets/img/kaiadmin/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <!-- Example: Ensure AngularJS is included only once -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <style>
    #basic-datatables1 {
      width: 100% !important;
      /* Ghi đè bất kỳ giá trị nào từ thư viện */
    }

    #basic-datatables2 {
      width: 100% !important;
      /* Ghi đè bất kỳ giá trị nào từ thư viện */
    }

    #basic-datatables3 {
      width: 100% !important;
      /* Ghi đè bất kỳ giá trị nào từ thư viện */
    }

    .d-flex {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .btn {
      margin-left: 0px;
    }

    .dropdown {
      margin-left: 200px;
    }
  </style>

  <!-- Fonts and icons -->
  <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
  <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons",
        ],
        urls: ["../assets/css/fonts.min.css"],
      },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
  </script>
  <!-- CSS Files -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/plugins.min.css" />
  <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="../assets/css/demo.css" />
</head>

<body ng-app="billApp" ng-controller="BillController">
  <div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
      <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="/assets/BanHang.html" class="logo">
            <img src="img/kaiadmin/logo_light.png" alt="navbar brand" class="navbar-brand" height="40" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>
      <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            <li class="nav-item">
              <a href="BanHang.html" class="collapsed" aria-expanded="false">
                <i class="fas fa-home"></i>
                <p>Bán Hàng</p>
              </a>
            </li>
            <li class="nav-section">
              <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
              </span>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#">
                <i class="fas fa-layer-group"></i>
                <p>Quản Lý</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/assets/Voucher.html">
                <i class="fas fa-ticket-alt"></i>
                <p>Voucher</p>
              </a>

            </li>
            <li class="nav-item active submenu">
              <a href="/assets/Bill.html">
                <i class="fas fa-pen-square"></i>
                <span class="sub-item">Hóa Đơn</span>
              </a>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#tables">
                <i class="fas fa-table"></i>
                <p>Sản Phẩm</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="tables">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="Category.html">
                      <span class="sub-item">Danh Mục Sản Phẩm</span>
                    </a>
                  </li>
                  <li>
                    <a href="Products.html">
                      <span class="sub-item">Danh sách sản phẩm</span>
                    </a>
                  </li>
                  <li>
                    <a href="ProductDetail.html">
                      <span class="sub-item">Danh Sách Biến Thể Sản Phẩm<span>
                    </a>
                  </li>
                  <li>
                    <a href="Size.html">
                      <span class="sub-item">Danh Sách Kích Thước<span>
                    </a>
                  </li>
                  <li>
                    <a href="Season.html">
                      <span class="sub-item">Danh Sách Mùa<span>
                    </a>
                  </li>
                  <li>
                    <a href="Pattern.html">
                      <span class="sub-item">Danh Sách Mẫu<span>
                    </a>
                  </li>
                  <li>
                    <a href="Origin.html">
                      <span class="sub-item">Danh Sách Nguồn gốc<span>
                    </a>
                  </li>
                  <li>
                    <a href="Color.html">
                      <span class="sub-item">Danh Sách Màu Sắc<span>
                    </a>
                  </li>
                  <li>
                    <a href="Gender.html">
                      <span class="sub-item">Danh Sách Giới tính<span>
                    </a>
                  </li>
                  <li>
                    <a href="Material.html">
                      <span class="sub-item">Danh Sách Chất Liệu<span>
                    </a>
                  </li>


                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#account">
                <i class="fas fa-user"></i>
                <p>Account</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="account">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="staff/Staff.html">
                      <span class="sub-item">Nhân Viên</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Khách Hàng</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="statistic.html">
                <i class="far fa-chart-bar"></i>
                <p>Thống Kê</p>

              </a>
              <!-- <div class="collapse" id="charts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="charts/charts.html">
                        <span class="sub-item">Chart Js</span>
                      </a>
                    </li>
                    <li>
                      <a href="charts/sparkline.html">
                        <span class="sub-item">Sparkline</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
            </li>


          </ul>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div class="main-panel">
      <div class="main-header">
        <div class="main-header-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="../statistic.html" class="logo">
              <img src="../assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
          <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
              <li class="nav-item topbar-user dropdown hidden-caret" ng-if="myProfile">
                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                  <div class="avatar-sm">
                    <!-- Hiển thị avatar của người dùng hoặc ảnh mặc định -->
                    <img ng-src="{{ myProfile.avatar }}" alt="..." class="avatar-img rounded-circle" />
                  </div>
                  <span class="profile-username">
                    <span class="op-7">Hi,</span>
                    <span class="fw-bold">{{ myProfile.firstName }}</span> <!-- Hiển thị tên người dùng -->
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                  <div class="dropdown-user-scroll scrollbar-outer">
                    <li ng-if="myProfile"> <!-- Ngăn lỗi nếu myProfile chưa tải xong -->
                      <div class="user-box">
                        <div class="avatar-lg">
                          <img ng-src="{{ myProfile.avatar }}" alt="image profile" class="avatar-img rounded" />
                        </div>
                        <div class="u-text">
                          <h4>{{ myProfile.firstName }} {{ myProfile.lastName }}</h4>
                          <p class="text-muted">{{ myProfile.email }}</p>
                          <a href="/assets/staff/Profile.html" ng-click="viewProfile()"
                            class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/assets/account/login.html" ng-click="logout()">Logout</a>
                    </li>
                  </div>
                </ul>
              </li>

            </ul>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>

      <div class="container">
        <div class="page-inner">
          <div class="page-header">
            <h3 class="fw-bold mb-3">Hóa Đơn</h3>
            <ul class="breadcrumbs mb-3">
              <li class="nav-home">
                <a href="/statistic.html">
                  <i class="fas fa-layer-group"></i>
                </a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="/assets/Bill.html">Hóa Đơn</a>
              </li>

            </ul>
            <div class="ms-md-auto py-2 py-md-0">
              <!-- <a href="#" class="btn btn-label-info btn-round me-2">Quản Lý</a> -->
              <a href="BanHang.html" class="btn btn-primary btn-round">Thêm Hóa Đơn</a>
            </div>
          </div>
          <!-- tab -->
          <!-- Tab Navigation -->
          <ul class="nav nav-tabs" id="group1" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="tab1-1" data-bs-toggle="tab" data-bs-target="#content1-1"
                type="button" role="tab" aria-controls="content1-1" aria-selected="true">Chờ Xử Lý</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab1-2" data-bs-toggle="tab" data-bs-target="#content1-2" type="button"
                role="tab" aria-controls="content1-2" aria-selected="false">Đã Hoàn Tất</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab2-3" data-bs-toggle="tab" data-bs-target="#content2-3" type="button"
                role="tab" aria-controls="content2-3" aria-selected="false">Đã Hủy</button>
            </li>
          </ul>

          <!-- Tab Content -->
          <div class="tab-content" id="group1Content">
            <!-- Tab 1: Chờ Xử Lý -->
            <div class="tab-pane fade show active" id="content1-1" role="tabpanel" aria-labelledby="tab1-1">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Danh Sách Hóa Đơn</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <!-- Bộ lọc cho Tab 1 -->
                        <div class="d-flex align-items-center justify-content-start"
                          style="gap: 20px; margin-bottom: 10px;">
                          <div style="display: flex; align-items: center; gap: 5px; font-size: 0.9em;">
                            <label for="startDate1" style="margin-right: 5px;">Từ ngày:</label>
                            <input type="date" id="startDate1" ng-model="startDate1" class="form-control"
                              style="width: 150px; padding: 2px 5px;" />
                            <label for="endDate1" style="margin-left: 10px; margin-right: 5px;">Đến ngày:</label>
                            <input type="date" id="endDate1" ng-model="endDate1" class="form-control"
                              style="width: 150px; padding: 2px 5px;" />
                            <button ng-click="applyDateFilter(1)" class="btn btn-primary"
                              style="padding: 3px 10px; font-size: 0.9em;">Lọc</button>
                          </div>
                          <!-- Bộ lọc theo TypeBill -->
                          <div class="dropdown">
                            <button class="btn btn-label-info btn-round btn-sm dropdown-toggle" type="button"
                              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <span class="btn-label"><i class="fa fa-filter"></i></span> Lọc theo TypeBill
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <select id="filterOptions1" class="form-select" ng-model="filterTypeBill1"
                                ng-change="applyFilter(1)">
                                <option value="all">Tất cả</option>
                                <option value="In-Store">In-Store</option>
                                <option value="Online">Online</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <!-- Bảng Dữ Liệu Tab 1 -->
                        <table id="basic-datatables2" class="display table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>STT</th>
                              <th>Mã Hóa Đơn</th>
                              <th>Tên Khách Hàng</th>
                              <th>SĐT</th>
                              <th>Loại Hóa Đơn</th>
                              <th>Ngày Thanh Toán</th>
                              <th>Hình Thức Thanh Toán</th>
                              <th>Tổng Tiền</th>
                              <th>Trạng Thái</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="order in filteredOrders1 || orders">
                              <td>{{order.stt}}</td>
                              <td>{{order.codeBill}}</td>
                              <td>{{order.customerName || 'Không có'}}</td>
                              <td>{{order.phoneNumber || 'Không có'}}</td>
                              <td>{{order.typeBill || 'Không có'}}</td>
                              <td>{{order.desiredDate || 'Không có'}}</td>
                              <td>{{order.paymentMethod || 'Không có'}}</td>
                              <td>{{order.totalMoney || 'Không có'}}</td>
                              <td ng-bind-html="order.statusBill || 'Không xác định'"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tab 2: Đã Hoàn Tất -->
            <div class="tab-pane fade" id="content1-2" role="tabpanel" aria-labelledby="tab1-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Danh Sách Hóa Đơn</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <!-- Bộ lọc cho Tab 2 -->
                        <div class="d-flex align-items-center justify-content-start"
                          style="gap: 20px; margin-bottom: 10px;">
                          <div style="display: flex; align-items: center; gap: 5px; font-size: 0.9em;">
                            <label for="startDate2" style="margin-right: 5px;">Từ ngày:</label>
                            <input type="date" id="startDate2" ng-model="startDate2" class="form-control"
                              style="width: 150px; padding: 2px 5px;" />
                            <label for="endDate2" style="margin-left: 10px; margin-right: 5px;">Đến ngày:</label>
                            <input type="date" id="endDate2" ng-model="endDate2" class="form-control"
                              style="width: 150px; padding: 2px 5px;" />
                            <button ng-click="applyDateFilter(2)" class="btn btn-primary"
                              style="padding: 3px 10px; font-size: 0.9em;">Lọc</button>
                          </div>
                          <!-- Bộ lọc theo TypeBill -->
                          <div class="dropdown">
                            <button class="btn btn-label-info btn-round btn-sm dropdown-toggle" type="button"
                              id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <span class="btn-label"><i class="fa fa-filter"></i></span> Lọc theo TypeBill
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <select id="filterOptions2" class="form-select" ng-model="filterTypeBill2"
                                ng-change="applyFilter(2)">
                                <option value="all">Tất cả</option>
                                <option value="In-Store">In-Store</option>
                                <option value="Online">Online</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <!-- Bảng Dữ Liệu Tab 2 -->
                        <table id="basic-datatables1" class="display table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>STT</th>
                              <th>Mã Hóa Đơn</th>
                              <th>Tên Khách Hàng</th>
                              <th>SĐT</th>
                              <th>Loại Hóa Đơn</th>
                              <th>Ngày Thanh Toán</th>
                              <th>Hình Thức Thanh Toán</th>
                              <th>Tổng Tiền</th>
                              <th>Trạng Thái</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="order in filteredOrders2 || orders">
                              <td>{{order.stt}}</td>
                              <td>{{order.codeBill}}</td>
                              <td>{{order.customerName || 'Không có'}}</td>
                              <td>{{order.phoneNumber || 'Không có'}}</td>
                              <td>{{order.typeBill || 'Không có'}}</td>
                              <td>{{order.desiredDate || 'Không có'}}</td>
                              <td>{{order.paymentMethod || 'Không có'}}</td>
                              <td>{{order.totalMoney || 'Không có'}}</td>
                              <td ng-bind-html="order.statusBill || 'Không xác định'"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tab 3: Đã Hủy -->
            <div class="tab-pane fade" id="content2-3" role="tabpanel" aria-labelledby="tab2-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Danh Sách Hóa Đơn</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <!-- Bộ lọc cho Tab 3 -->
                        <div class="d-flex align-items-center justify-content-start"
                          style="gap: 20px; margin-bottom: 10px;">
                          <div style="display: flex; align-items: center; gap: 5px; font-size: 0.9em;">
                            <label for="startDate3" style="margin-right: 5px;">Từ ngày:</label>
                            <input type="date" id="startDate3" ng-model="startDate3" class="form-control"
                              style="width: 150px; padding: 2px 5px;" />
                            <label for="endDate3" style="margin-left: 10px; margin-right: 5px;">Đến ngày:</label>
                            <input type="date" id="endDate3" ng-model="endDate3" class="form-control"
                              style="width: 150px; padding: 2px 5px;" />
                            <button ng-click="applyDateFilter(3)" class="btn btn-primary"
                              style="padding: 3px 10px; font-size: 0.9em;">Lọc</button>
                          </div>
                          <!-- Bộ lọc theo TypeBill -->
                          <div class="dropdown">
                            <button class="btn btn-label-info btn-round btn-sm dropdown-toggle" type="button"
                              id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <span class="btn-label"><i class="fa fa-filter"></i></span> Lọc theo TypeBill
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                              <select id="filterOptions3" class="form-select" ng-model="filterTypeBill3"
                                ng-change="applyFilter(3)">
                                <option value="all">Tất cả</option>
                                <option value="In-Store">In-Store</option>
                                <option value="Online">Online</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <!-- Bảng Dữ Liệu Tab 3 -->
                        <table id="basic-datatables3" class="display table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>STT</th>
                              <th>Mã Hóa Đơn</th>
                              <th>Tên Khách Hàng</th>
                              <th>SĐT</th>
                              <th>Loại Hóa Đơn</th>
                              <th>Ngày Thanh Toán</th>
                              <th>Hình Thức Thanh Toán</th>
                              <th>Tổng Tiền</th>
                              <th>Trạng Thái</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="order in filteredOrders3 || orders">
                              <td>{{order.stt}}</td>
                              <td>{{order.codeBill}}</td>
                              <td>{{order.customerName || 'Không có'}}</td>
                              <td>{{order.phoneNumber || 'Không có'}}</td>
                              <td>{{order.typeBill || 'Không có'}}</td>
                              <td>{{order.desiredDate || 'Không có'}}</td>
                              <td>{{order.paymentMethod || 'Không có'}}</td>
                              <td>{{order.totalMoney || 'Không có'}}</td>
                              <td ng-bind-html="order.statusBill || 'Không xác định'"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>








        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
          <nav class="pull-left">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="http://www.themekita.com">
                  ThemeKita
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Help </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Licenses </a>
              </li>
            </ul>
          </nav>
          <div class="copyright">
            2024, made with <i class="fa fa-heart heart text-danger"></i> by
            <a href="http://www.themekita.com">ThemeKita</a>
          </div>
          <div>
            Distributed by
            <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
          </div>
        </div>
      </footer>
    </div>

    <!-- Custom template | don't include it in your project! -->
    <div class="custom-template">
      <div class="title">Settings</div>
      <div class="custom-content">
        <div class="switcher">
          <div class="switch-block">
            <h4>Logo Header</h4>
            <div class="btnSwitch">
              <button type="button" class="selected changeLogoHeaderColor" data-color="dark"></button>
              <button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
              <br />
              <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
            </div>
          </div>
          <div class="switch-block">
            <h4>Navbar Header</h4>
            <div class="btnSwitch">
              <button type="button" class="changeTopBarColor" data-color="dark"></button>
              <button type="button" class="changeTopBarColor" data-color="blue"></button>
              <button type="button" class="changeTopBarColor" data-color="purple"></button>
              <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
              <button type="button" class="changeTopBarColor" data-color="green"></button>
              <button type="button" class="changeTopBarColor" data-color="orange"></button>
              <button type="button" class="changeTopBarColor" data-color="red"></button>
              <button type="button" class="changeTopBarColor" data-color="white"></button>
              <br />
              <button type="button" class="changeTopBarColor" data-color="dark2"></button>
              <button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
              <button type="button" class="changeTopBarColor" data-color="purple2"></button>
              <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
              <button type="button" class="changeTopBarColor" data-color="green2"></button>
              <button type="button" class="changeTopBarColor" data-color="orange2"></button>
              <button type="button" class="changeTopBarColor" data-color="red2"></button>
            </div>
          </div>
          <div class="switch-block">
            <h4>Sidebar</h4>
            <div class="btnSwitch">
              <button type="button" class="selected changeSideBarColor" data-color="white"></button>
              <button type="button" class="changeSideBarColor" data-color="dark"></button>
              <button type="button" class="changeSideBarColor" data-color="dark2"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-toggle">
        <i class="icon-settings"></i>
      </div>
    </div>
    <!-- End Custom template -->
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
  <script src="/assets/js/kaiadmin.min.js"></script>


  <!-- jQuery Scrollbar -->
  <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <!-- Datatables -->
  <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
  <!-- Kaiadmin JS -->
  <script src="../assets/js/kaiadmin.min.js"></script>
  <!-- Kaiadmin DEMO methods, don't include it in your project! -->
  <script src="../assets/js/setting-demo2.js"></script>


  <!-- //cdn -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <!-- dataTable -->
  <script>
    angular.module("billApp", [])
      .controller("BillController", function ($scope, $timeout) {
        // Khởi tạo dữ liệu ban đầu cho các biến lọc
        $scope.filterTypeBill = 'all'; // Mặc định là 'Tất cả'
        $scope.startDate1 = null;
        $scope.endDate1 = null;
        $scope.startDate2 = null;
        $scope.endDate2 = null;
        $scope.startDate3 = null;
        $scope.endDate3 = null;
        $scope.ordersData1 = []; // Dữ liệu cho bảng tab 1
        $scope.ordersData2 = []; // Dữ liệu cho bảng tab 2
        $scope.ordersData3 = []; // Dữ liệu cho bảng tab 3
        $scope.filteredOrders1 = []; // Dữ liệu đã lọc cho bảng tab 1
        $scope.filteredOrders2 = []; // Dữ liệu đã lọc cho bảng tab 2
        $scope.filteredOrders3 = []; // Dữ liệu đã lọc cho bảng tab 3

        // Hàm định dạng ngày tháng
        $scope.formatDate = function (date) {
          if (!date) return ""; // Nếu không có ngày, trả về chuỗi trống
          const options = { year: "numeric", month: "2-digit", day: "2-digit" };
          return new Date(date).toLocaleDateString("vi-VN", options);
        };

        // Khởi tạo lại DataTable với dữ liệu mới
        $scope.initializeDataTableFilter = function (tableId, data) {
          console.log("initializeDataTableFilter is being called with tableId:", tableId);

          // Kiểm tra dữ liệu
          if (!Array.isArray(data)) {
            console.error("Dữ liệu không hợp lệ:", data);
            return;
          }

          // Kiểm tra bảng đã được khởi tạo chưa
          if ($.fn.DataTable.isDataTable(tableId)) {
            const table = $(tableId).DataTable();
            table.clear();
            table.rows.add(data.map(order => [
              order.stt,
              order.codeBill,
              order.customerName || 'Không có',
              order.phoneNumber || 'không có',
              order.typeBill || 'không có',
              order.desiredDate || 'không có',
              order.paymentMethod || 'không có',
              order.totalMoney || 'không có',
              order.statusBill || 'không có',
            ]));
            table.draw();
          } else {
            $(tableId).DataTable({
              paging: true,
              searching: true,
              ordering: true,
              pageLength: 5,
              data: data.map(order => [
                order.stt,
                order.codeBill,
                order.customerName || 'Không có',
                order.phoneNumber || 'không có',
                order.typeBill || 'không có',
                order.desiredDate || 'không có',
                order.paymentMethod || 'không có',
                order.totalMoney || 'không có',
                order.statusBill || 'không có',
              ]),
              columns: [
                { title: "STT" },
                { title: "Mã Hóa Đơn" },
                { title: "Tên Khách Hàng" },
                { title: "SĐT" },
                { title: "Loại Hóa Đơn" },
                { title: "Ngày Thanh Toán" },
                { title: "Hình Thức Thanh Toán" },
                { title: "Tổng Tiền" },
                { title: "Trạng Thái", orderable: false },
              ],
              createdRow: function (row, data) {
                $(row)
                  .find(".status-btn")
                  .on("click", function (e) {
                    e.stopPropagation();
                    const codeBill = $(this).data("code");
                    const status = $(this).data("status");
                    const statusText = status === 1
                      ? "Đã Hoàn Tất"
                      : status === 2
                        ? "Chờ Xử Lý"
                        : status === 3
                          ? "Đã Hủy"
                          : "Không Xác Định";
                    alert(`Bạn đã nhấn vào hóa đơn ${codeBill} với trạng thái ${statusText}`);
                  });
              },
              language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiện _MENU_ mục",
                info: "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
                paginate: {
                  first: "Đầu",
                  last: "Cuối",
                  next: "Tiếp",
                  previous: "Trước",
                },
              },
            });
          }
        };

        // Hàm lọc theo khoảng thời gian cho bảng cụ thể
    $scope.applyDateFilter = function (tabIndex) {
  let startDate, endDate, filteredOrders;
  let tableId;

  // Xác định các giá trị bắt đầu, kết thúc và bảng tương ứng dựa trên tabIndex
  if (tabIndex === 1) {
    startDate = $scope.startDate1;
    endDate = $scope.endDate1;
    filteredOrders = $scope.filteredOrders1;
    tableId = "#basic-datatables1"; // ID bảng cho Tab 1
  } else if (tabIndex === 2) {
    startDate = $scope.startDate2;
    endDate = $scope.endDate2;
    filteredOrders = $scope.filteredOrders2;
    tableId = "#basic-datatables2"; // ID bảng cho Tab 2
  } else if (tabIndex === 3) {
    startDate = $scope.startDate3;
    endDate = $scope.endDate3;
    filteredOrders = $scope.filteredOrders3;
    tableId = "#basic-datatables3"; // ID bảng cho Tab 3
  }

  // Kiểm tra ngày hợp lệ
  const formattedStartDate = moment(startDate, "YYYY-MM-DD").startOf('day');
  const formattedEndDate = moment(endDate, "YYYY-MM-DD").endOf('day');

  if (formattedStartDate.isAfter(formattedEndDate)) {
    alert("'Từ ngày' không được lớn hơn 'Đến ngày'.");
    return;
  }

  // Lọc các đơn hàng trong khoảng thời gian
  filteredOrders = ($scope.orders || []).filter(order => {
    const orderDate = moment(order.desiredDate, "YYYY-MM-DD");
    return orderDate.isBetween(formattedStartDate, formattedEndDate, null, '[]');
  });

  // Nếu không có dữ liệu, hiển thị cảnh báo
  if (filteredOrders.length === 0) {
    alert("Không có dữ liệu trong khoảng thời gian này.");
  }

  // Gọi hàm để cập nhật bảng với dữ liệu mới
  $timeout(() => {
    $scope.initializeDataTableFilter(tableId, filteredOrders);
  }, 0);
};

        // Các hàm lọc cho từng tab
        $scope.applyDateFilter1 = function () {
          console.log("Applying date filter for table 1 with tableId:", "#basic-datatables1");
          $scope.applyDateFilter($scope.startDate1, $scope.endDate1, "#basic-datatables1", $scope.filteredOrders1);
        };

        $scope.applyDateFilter2 = function () {
          console.log("Applying date filter for table 2 with tableId:", "#basic-datatables2");
          $scope.applyDateFilter($scope.startDate2, $scope.endDate2, "#basic-datatables2", $scope.filteredOrders2);
        };

        $scope.applyDateFilter3 = function () {
          console.log("Applying date filter for table 3 with tableId:", "#basic-datatables3");
          $scope.applyDateFilter($scope.startDate3, $scope.endDate3, "#basic-datatables3", $scope.filteredOrders3);
        };


        // Hàm tải dữ liệu cho từng tab
        $scope.loadDataOrder = function (url, tableId, dataContainer) {
          const token = sessionStorage.getItem("jwtToken");

          if (!token) {
            alert("Bạn cần đăng nhập để tải dữ liệu.");
            return;
          }

          $.ajax({
            type: "GET",
            url: url,
            headers: {
              Authorization: "Bearer " + token,
            },
            success: function (response) {
              console.log(`Phản hồi từ server (${url}):`, response);

              const ordersData = Array.isArray(response.result) ? response.result : [];
              if (ordersData.length > 0) {
                const orders = ordersData.map((order, index) => ({
                  stt: index + 1,
                  codeBill: order.codeBill || 'không có',
                  customerName: order.customerName || 'không có',
                  phoneNumber: order.phoneNumber || 'không có',
                  typeBill: order.typeBill || 'không có',
                  desiredDate: $scope.formatDate(order.desiredDate),
                  paymentMethod: order.namePaymentMethod || 'không có',
                  totalMoney: (order.totalMoney || 0).toLocaleString("vi-VN", {
                    style: "currency",
                    currency: "VND",
                  }),
                  statusBill: `<button class="btn btn-${order.statusBill === 1 ? "success" : order.statusBill === 2 ? "primary" : order.statusBill === 3 ? "info" : "secondary"} btn-sm status-btn" 
                    data-code="${order.codeBill}" 
                    data-status="${order.statusBill}">${order.statusBill === 1 ? "Đã Hoàn Tất" : order.statusBill === 2 ? "Chờ Xử Lý" : order.statusBill === 3 ? "Đã Hủy" : "Không Xác Định"}</button>`,
                }));
                dataContainer = orders;  // Lưu dữ liệu đã tải về
                $scope.initializeDataTableFilter(tableId, dataContainer); // Khởi tạo bảng với dữ liệu mới
              } else {
                alert("Không có dữ liệu.");
              }
            },
            error: function (xhr, status, error) {
              console.error("Lỗi khi tải dữ liệu:", error);
              alert("Có lỗi xảy ra khi tải dữ liệu.");
            },
          });
        };

        // Tải dữ liệu ban đầu cho từng bảng (tab)
        $scope.loadDataOrder("http://localhost:8080/bills/list", "#basic-datatables1", $scope.ordersData1);
        $scope.loadDataOrder("http://localhost:8080/bills/list2", "#basic-datatables2", $scope.ordersData2);
        $scope.loadDataOrder("http://localhost:8080/bills/list3", "#basic-datatables3", $scope.ordersData3);
      });
  </script>

</body>

</html>