<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Hóa Đơn - Bee-Shirt</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="../assets/img/kaiadmin/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


  <!-- Fonts and icons -->
  <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
  <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons",
        ],
        urls: ["../assets/css/fonts.min.css"],
      },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
  </script>
  <!-- CSS Files -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/plugins.min.css" />
  <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <!-- <script src="js/bill.js"></script> -->

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="../assets/css/demo.css" />
</head>

<body ng-app="billApp" ng-controller="BillController">
  <div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
      <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="/assets/BanHang.html" class="logo">
            <img src="img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>
      <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            <li class="nav-item">
              <a href="BanHang.html" class="collapsed" aria-expanded="false">
                <i class="fas fa-home"></i>
                <p>Bán Hàng</p>
              </a>
            </li>
            <li class="nav-section">
              <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
              </span>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#">
                <i class="fas fa-layer-group"></i>
                <p>Quản Lý</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/assets/Voucher.html">
                <i class="fas fa-ticket-alt"></i>
                <p>Voucher</p>
              </a>
            
            </li>
            <li class="nav-item active submenu">
              <a href="/assets/Bill.html">
                <i class="fas fa-pen-square"></i>
                <span class="sub-item">Hóa Đơn</span>
              </a>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#tables">
                <i class="fas fa-table"></i>
                <p>Sản Phẩm</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="tables">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="Category.html">
                      <span class="sub-item">Danh Mục Sản Phẩm</span>
                    </a>
                  </li>
                  <li>
                    <a href="Products.html">
                      <span class="sub-item">Danh sách sản phẩm</span>
                    </a>
                  </li>
                  <li>
                    <a href="ProductDetail.html">
                      <span class="sub-item">Danh Sách Biến Thể Sản Phẩm<span>
                    </a>
                  </li>
                  <li>
                    <a href="Size.html">
                      <span class="sub-item">Danh Sách Kích Thước<span>
                    </a>
                  </li>
                  <li>
                    <a href="Season.html">
                      <span class="sub-item">Danh Sách Mùa<span>
                    </a>
                  </li>
                  <li>
                    <a href="Pattern.html">
                      <span class="sub-item">Danh Sách Mẫu<span>
                    </a>
                  </li>
                  <li>
                    <a href="Origin.html">
                      <span class="sub-item">Danh Sách Nguồn gốc<span>
                    </a>
                  </li>
                  <li>
                    <a href="Color.html">
                      <span class="sub-item">Danh Sách Màu Sắc<span>
                    </a>
                  </li>
                  <li>
                    <a href="Gender.html">
                      <span class="sub-item">Danh Sách Giới tính<span>
                    </a>
                  </li>
                  <li>
                    <a href="Material.html">
                      <span class="sub-item">Danh Sách Chất Liệu<span>
                    </a>
                  </li>
                  
                 
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#account">
                <i class="fas fa-user"></i>
                <p>Account</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="account">
                <ul class="nav nav-collapse">
                  <li>
                    <a href="staff/Staff.html">
                      <span class="sub-item">Nhân Viên</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="sub-item">Khách Hàng</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="statistic.html">
                <i class="far fa-chart-bar"></i>
                <p>Thống Kê</p>

              </a>
              <!-- <div class="collapse" id="charts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="charts/charts.html">
                        <span class="sub-item">Chart Js</span>
                      </a>
                    </li>
                    <li>
                      <a href="charts/sparkline.html">
                        <span class="sub-item">Sparkline</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
            </li>


          </ul>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div class="main-panel">
      <div class="main-header">
        <div class="main-header-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="../statistic.html" class="logo">
              <img src="../assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
          <div class="container-fluid">
            <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="submit" class="btn btn-search pe-1">
                    <i class="fa fa-search search-icon"></i>
                  </button>
                </div>
                <input type="text" placeholder="Search ..." class="form-control" />
              </div>
            </nav>

            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
              <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false" aria-haspopup="true">
                  <i class="fa fa-search"></i>
                </a>
                <ul class="dropdown-menu dropdown-search animated fadeIn">
                  <form class="navbar-left navbar-form nav-search">
                    <div class="input-group">
                      <input type="text" placeholder="Search ..." class="form-control" />
                    </div>
                  </form>
                </ul>
              </li>
              <li class="nav-item topbar-icon dropdown hidden-caret">
                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-envelope"></i>
                </a>
                <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                  <li>
                    <div class="dropdown-title d-flex justify-content-between align-items-center">
                      Messages
                      <a href="#" class="small">Mark all as read</a>
                    </div>
                  </li>
                  <li>
                    <div class="message-notif-scroll scrollbar-outer">
                      <div class="notif-center">
                        <a href="#">
                          <div class="notif-img">
                            <img src="../assets/img/jm_denis.jpg" alt="Img Profile" />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Jimmy Denis</span>
                            <span class="block"> How are you ? </span>
                            <span class="time">5 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img src="../assets/img/chadengle.jpg" alt="Img Profile" />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Chad</span>
                            <span class="block"> Ok, Thanks ! </span>
                            <span class="time">12 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img src="../assets/img/mlane.jpg" alt="Img Profile" />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Jhon Doe</span>
                            <span class="block">
                              Ready for the meeting today...
                            </span>
                            <span class="time">12 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img src="../assets/img/talha.jpg" alt="Img Profile" />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Talha</span>
                            <span class="block"> Hi, Apa Kabar ? </span>
                            <span class="time">17 minutes ago</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item topbar-icon dropdown hidden-caret">
                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bell"></i>
                  <span class="notification">4</span>
                </a>
                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                  <li>
                    <div class="dropdown-title">
                      You have 4 new notification
                    </div>
                  </li>
                  <li>
                    <div class="notif-scroll scrollbar-outer">
                      <div class="notif-center">
                        <a href="#">
                          <div class="notif-icon notif-primary">
                            <i class="fa fa-user-plus"></i>
                          </div>
                          <div class="notif-content">
                            <span class="block"> New user registered </span>
                            <span class="time">5 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-icon notif-success">
                            <i class="fa fa-comment"></i>
                          </div>
                          <div class="notif-content">
                            <span class="block">
                              Rahmad commented on Admin
                            </span>
                            <span class="time">12 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img src="../assets/img/profile2.jpg" alt="Img Profile" />
                          </div>
                          <div class="notif-content">
                            <span class="block">
                              Reza send messages to you
                            </span>
                            <span class="time">12 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-icon notif-danger">
                            <i class="fa fa-heart"></i>
                          </div>
                          <div class="notif-content">
                            <span class="block"> Farrah liked Admin </span>
                            <span class="time">17 minutes ago</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item topbar-icon dropdown hidden-caret">
                <a class="nav-link" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                  <i class="fas fa-layer-group"></i>
                </a>
                <div class="dropdown-menu quick-actions animated fadeIn">
                  <div class="quick-actions-header">
                    <span class="title mb-1">Quick Actions</span>
                    <span class="subtitle op-7">Shortcuts</span>
                  </div>
                  <div class="quick-actions-scroll scrollbar-outer">
                    <div class="quick-actions-items">
                      <div class="row m-0">
                        <a class="col-6 col-md-4 p-0" href="#">
                          <div class="quick-actions-item">
                            <div class="avatar-item bg-danger rounded-circle">
                              <i class="far fa-calendar-alt"></i>
                            </div>
                            <span class="text">Calendar</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                          <div class="quick-actions-item">
                            <div class="avatar-item bg-warning rounded-circle">
                              <i class="fas fa-map"></i>
                            </div>
                            <span class="text">Maps</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                          <div class="quick-actions-item">
                            <div class="avatar-item bg-info rounded-circle">
                              <i class="fas fa-file-excel"></i>
                            </div>
                            <span class="text">Reports</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                          <div class="quick-actions-item">
                            <div class="avatar-item bg-success rounded-circle">
                              <i class="fas fa-envelope"></i>
                            </div>
                            <span class="text">Emails</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                          <div class="quick-actions-item">
                            <div class="avatar-item bg-primary rounded-circle">
                              <i class="fas fa-file-invoice-dollar"></i>
                            </div>
                            <span class="text">Invoice</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                          <div class="quick-actions-item">
                            <div class="avatar-item bg-secondary rounded-circle">
                              <i class="fas fa-credit-card"></i>
                            </div>
                            <span class="text">Payments</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item topbar-user dropdown hidden-caret">
                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                  <div class="avatar-sm">
                    <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle" />
                  </div>
                  <span class="profile-username">
                    <span class="op-7">Hi,</span>
                    <span class="fw-bold">Đăng Ngố</span>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                  <div class="dropdown-user-scroll scrollbar-outer">
                    <li>
                      <div class="user-box">
                        <div class="avatar-lg">
                          <img src="../assets/img/profile.jpg" alt="image profile" class="avatar-img rounded" />
                        </div>
                        <div class="u-text">
                          <h4>Hizrian</h4>
                          <p class="text-muted">hello@example.com</p>
                          <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">My Profile</a>
                      <a class="dropdown-item" href="#">My Balance</a>
                      <a class="dropdown-item" href="#">Inbox</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Account Setting</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Logout</a>
                    </li>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>

      <div class="container">
        <div class="page-inner">
          <div class="page-header">
            <h3 class="fw-bold mb-3">Hóa Đơn</h3>
            <ul class="breadcrumbs mb-3">
              <li class="nav-home">
                <a href="/statistic.html">
                  <i class="fas fa-layer-group"></i>
                </a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="/assets/Bill.html">Hóa Đơn</a>
              </li>

            </ul>
            <div class="ms-md-auto py-2 py-md-0">
              <!-- <a href="#" class="btn btn-label-info btn-round me-2">Quản Lý</a> -->
              <a href="BanHang.html" class="btn btn-primary btn-round">Thêm Hóa Đơn</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Danh Sách Hóa Đơn</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <div style="display: flex; align-items: center; gap: 5px; font-size: 0.9em; margin-bottom: 10px;">
                      <label for="startDate" style="margin-right: 5px;">Từ ngày:</label>
                      <input type="date" id="startDate" ng-model="startDate" class="form-control"
                        style="width: 150px; padding: 2px 5px;" />

                      <label for="endDate" style="margin-left: 10px; margin-right: 5px;">Đến ngày:</label>
                      <input type="date" id="endDate" ng-model="endDate" class="form-control"
                        style="width: 150px; padding: 2px 5px;" />

                      <button ng-click="applyDateFilter()" class="btn btn-primary"
                        style="padding: 3px 10px; font-size: 0.9em;">Lọc</button>
                    </div>
                    <table id="basic-datatables" class="display table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Mã Hóa Đơn</th>
                          <th>Tên Khách Hàng</th>
                          <th>SĐT</th>
                          <th>Loại Hóa Đơn</th>
                          <th>Ngày Thanh Toán</th>
                          <th>Hình Thức Thanh Toán</th>
                          <th>Tổng Tiền</th>
                          <th>Trạng Thái</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
          <nav class="pull-left">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="http://www.themekita.com">
                  ThemeKita
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Help </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Licenses </a>
              </li>
            </ul>
          </nav>
          <div class="copyright">
            2024, made with <i class="fa fa-heart heart text-danger"></i> by
            <a href="http://www.themekita.com">ThemeKita</a>
          </div>
          <div>
            Distributed by
            <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
          </div>
        </div>
      </footer>
    </div>

    <!-- Custom template | don't include it in your project! -->
    <div class="custom-template">
      <div class="title">Settings</div>
      <div class="custom-content">
        <div class="switcher">
          <div class="switch-block">
            <h4>Logo Header</h4>
            <div class="btnSwitch">
              <button type="button" class="selected changeLogoHeaderColor" data-color="dark"></button>
              <button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
              <br />
              <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
              <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
            </div>
          </div>
          <div class="switch-block">
            <h4>Navbar Header</h4>
            <div class="btnSwitch">
              <button type="button" class="changeTopBarColor" data-color="dark"></button>
              <button type="button" class="changeTopBarColor" data-color="blue"></button>
              <button type="button" class="changeTopBarColor" data-color="purple"></button>
              <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
              <button type="button" class="changeTopBarColor" data-color="green"></button>
              <button type="button" class="changeTopBarColor" data-color="orange"></button>
              <button type="button" class="changeTopBarColor" data-color="red"></button>
              <button type="button" class="changeTopBarColor" data-color="white"></button>
              <br />
              <button type="button" class="changeTopBarColor" data-color="dark2"></button>
              <button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
              <button type="button" class="changeTopBarColor" data-color="purple2"></button>
              <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
              <button type="button" class="changeTopBarColor" data-color="green2"></button>
              <button type="button" class="changeTopBarColor" data-color="orange2"></button>
              <button type="button" class="changeTopBarColor" data-color="red2"></button>
            </div>
          </div>
          <div class="switch-block">
            <h4>Sidebar</h4>
            <div class="btnSwitch">
              <button type="button" class="selected changeSideBarColor" data-color="white"></button>
              <button type="button" class="changeSideBarColor" data-color="dark"></button>
              <button type="button" class="changeSideBarColor" data-color="dark2"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-toggle">
        <i class="icon-settings"></i>
      </div>
    </div>
    <!-- End Custom template -->
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
  <script src="/path/to/jquery.scrollbar.min.js"></script> <!-- Đảm bảo đây là đường dẫn đúng -->
  <script src="/assets/js/kaiadmin.min.js"></script>

  <!-- jQuery Scrollbar -->
  <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <!-- Datatables -->
  <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
  <!-- Kaiadmin JS -->
  <script src="../assets/js/kaiadmin.min.js"></script>
  <!-- Kaiadmin DEMO methods, don't include it in your project! -->
  <script src="../assets/js/setting-demo2.js"></script>

  <!-- <script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});

      $("#multi-filter-select").DataTable({
        pageLength: 5,
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              var column = this;
              var select = $(
                '<select class="form-select"><option value=""></option></select>'
              )
                .appendTo($(column.footer()).empty())
                .on("change", function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());

                  column
                    .search(val ? "^" + val + "$" : "", true, false)
                    .draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function (d, j) {
                  select.append(
                    '<option value="' + d + '">' + d + "</option>"
                  );
                });
            });
        },
      });

      // Add Row
      $("#add-row").DataTable({
        pageLength: 5,
      });

      var action =
        '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

      $("#addRowButton").click(function () {
        $("#add-row")
          .dataTable()
          .fnAddData([
            $("#addName").val(),
            $("#addPosition").val(),
            $("#addOffice").val(),
            action,
          ]);
        $("#addRowModal").modal("hide");
      });
    });
  </script> -->

  <!-- //cdn -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <!-- dataTable -->
  <script>
    angular
      .module("billApp", [])
      .controller("BillController", [
        "$scope", "$timeout",
        function ($scope, $timeout) {
          $scope.startDate = null;
          $scope.endDate = null;
          $scope.showCreateForm = false;
          $scope.orders = [];
          $scope.errorMessage = "";
          $scope.successMessage = "";

          $scope.formatDate = function (dateString) {
            const options = { year: "numeric", month: "2-digit", day: "2-digit" };
            const date = new Date(dateString);
            return date.toLocaleDateString("vi-VN", options);
          };

          $scope.loadDataOrderToTable = function () {
            const token = sessionStorage.getItem("jwtToken");
            if (!token) {
              alert("Bạn chưa đăng nhập. Vui lòng đăng nhập lại.");
              window.location.href = "http://127.0.0.1:5501/assets/account/login.html#!/login";
              return;
            }

            $.ajax({
              type: "GET",
              url: "http://localhost:8080/bills/list",
              headers: {
                Authorization: "Bearer " + token,
              },
              success: function (response) {
                console.log("Phản hồi từ server:", response);

                // Sử dụng response.result thay vì response.data
                const ordersData = Array.isArray(response.result) ? response.result : [];

                if (ordersData.length > 0) {
                  $scope.orders = ordersData.map((order, index) => ({
                    stt: index + 1,
                    codeBill: order.codeBill,
                    customerName: order.customerName,
                    phoneNumber: order.phoneNumber,
                    typeBill: order.typeBill,
                    desiredDate: $scope.formatDate(order.desiredDate),
                    paymentMethod: order.namePaymentMethod,
                    totalMoney: order.totalMoney.toLocaleString("vi-VN", {
                      style: "currency",
                      currency: "VND",
                    }),
                    statusBill: order.statusBill === 1 ? "Đã thanh toán" : "Chưa thanh toán",
                  }));
                  $scope.successMessage = "Tải dữ liệu thành công!";
                  $timeout($scope.initializeDataTable, 0); // Khởi tạo DataTable sau khi $scope.orders được cập nhật
                } else {
                  $scope.errorMessage = "Không có dữ liệu đơn hàng nào để hiển thị.";
                }
                $scope.$apply(); // Áp dụng thay đổi cho Angular
              },

            });
          };

          $scope.initializeDataTable = function () {
            // Hủy DataTable nếu đã tồn tại
            if ($.fn.DataTable.isDataTable("#basic-datatables")) {
              $("#basic-datatables").DataTable().destroy();
            }

            // Khởi tạo DataTable mới với dữ liệu từ $scope.orders
            const table = $("#basic-datatables").DataTable({
              paging: true,
              searching: true,
              ordering: true,
              pageLength: 5,
              data: $scope.orders.map((order) => [
                order.stt,
                order.codeBill,
                order.customerName,
                order.phoneNumber,
                order.typeBill,
                order.desiredDate,
                order.paymentMethod,
                order.totalMoney,
                order.statusBill,
              ]),
              columns: [
                { title: "STT" },
                { title: "Mã Hóa Đơn" },
                { title: "Tên Khách Hàng" },
                { title: "SĐT" },
                { title: "Loại Hóa Đơn" },
                { title: "Ngày Thanh Toán" },
                { title: "Hình Thức Thanh Toán" },
                { title: "Tổng Tiền" },
                { title: "Trạng Thái" },
              ],
              language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiện _MENU_ mục",
                info: "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
                paginate: {
                  first: "Đầu",
                  last: "Cuối",
                  next: "Tiếp",
                  previous: "Trước",
                },
              },
            });
            // Xử lý sự kiện click vào hàng để mở rộng thông tin chi tiết
            $("#basic-datatables tbody").on("click", "tr", function () {
              const rowData = table.row(this).data();
              const codeBill = rowData[1];
              window.location.href = `/assets/BillDetail.html?codeBill=${encodeURIComponent(codeBill)}`;
            });

          };
          // 
          //filter by time
          //
          $scope.applyDateFilter = function () {
            // Kiểm tra nếu không có giá trị cho startDate hoặc endDate
            if (!$scope.startDate && !$scope.endDate) {
              // Nếu không có ngày bắt đầu và ngày kết thúc, lấy toàn bộ dữ liệu
              $scope.filteredOrders = $scope.orders;
            } else {
              // Sử dụng moment.js để đảm bảo tính chính xác trong việc định dạng và so sánh ngày
              const formattedStartDate = moment($scope.startDate, "DD/MM/YYYY").startOf('day'); // Đặt thời gian bắt đầu là 00:00
              const formattedEndDate = moment($scope.endDate, "DD/MM/YYYY").endOf('day'); // Đặt thời gian kết thúc là 23:59

              // Kiểm tra xem ngày bắt đầu có lớn hơn ngày kết thúc hay không
              if (formattedStartDate.isAfter(formattedEndDate)) {
                alert("'Từ ngày' không được lớn hơn 'Đến ngày'.");
                return;
              }
              if (!$scope.startDate) {
                alert("Chưa Chọn Ngày Bắt Đầu.");
                return;
              }
              if (!$scope.endDate) {
                alert("Chưa Chọn Ngày Kết Kết Thúc.");
                return;
              }
              // Lọc dữ liệu từ mảng orders
              $scope.filteredOrders = $scope.orders.filter(function (order) {
                // Chuyển đổi ngày thanh toán trong order sang định dạng chuẩn sử dụng moment.js
                const orderDate = moment(order.desiredDate, "DD/MM/YYYY");

                return orderDate.isBetween(formattedStartDate, formattedEndDate, null, '[]'); // '[]' bao gồm cả start và end date
              });

              // Nếu không có dữ liệu sau khi lọc, hiển thị thông báo
              if ($scope.filteredOrders.length === 0) {
                alert("Không có dữ liệu trong khoảng thời gian này.");
              }
            }

            // Cập nhật lại bảng dữ liệu
            $timeout($scope.initializeOrderTable, 0); // Khởi tạo lại bảng với dữ liệu đã lọc
          };

          // xử lý lại bảng sau khi lọc
          //
          //
          $scope.initializeOrderTable = function () {
            const data = $scope.filteredOrders = $scope.startDate || $scope.endDate
              ? $scope.filteredOrders
              : $scope.orders;
            // Nếu có lọc, sử dụng filteredOrders, nếu không thì dùng toàn bộ orders

            // Kiểm tra xem bảng đã được khởi tạo chưa
            if ($.fn.DataTable.isDataTable("#basic-datatables")) {
              const table = $("#basic-datatables").DataTable();
              // Lấy đối tượng DataTable hiện tại
              table.clear(); // Xóa dữ liệu cũ

              // Thêm dữ liệu mới vào bảng
              table.rows.add(data.map((order) => [
              order.stt,
                order.codeBill,
                order.customerName,
                order.phoneNumber,
                order.typeBill,
                order.desiredDate,
                order.paymentMethod,
                order.totalMoney,
                order.statusBill,
              ])).draw(); // Thêm .draw() ở cuối


              // Vẽ lại bảng và giữ nguyên các tính năng như phân trang, tìm kiếm, sắp xếp
              table.draw();
            } else {
              // Nếu bảng chưa được khởi tạo, tạo mới bảng với các cấu hình đầy đủ
              $("#basic-datatables").DataTable({
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 5,
                data: $scope.orders.map((order) => [
                order.stt,
                order.codeBill,
                order.customerName,
                order.phoneNumber,
                order.typeBill,
                order.desiredDate,
                order.paymentMethod,
                order.totalMoney,
                order.statusBill,
                ]),
                columns: [
                  { title: "STT" },
                  { title: "Mã Hóa Đơn" },
                  { title: "Tên Khách Hàng" },
                  { title: "SĐT" },
                  { title: "Loại Hóa Đơn" },
                  { title: "Ngày Thanh Toán" },
                  { title: "Hình Thức Thanh Toán" },
                  { title: "Tổng Tiền" },
                  { title: "Trạng Thái" },
                ],
                language: {
                  search: "Tìm kiếm:",
                  lengthMenu: "Hiện _MENU_ mục",
                  info: "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
                  paginate: {
                    first: "Đầu",
                    last: "Cuối",
                    next: "Tiếp",
                    previous: "Trước",
                  },
                },
              });
            }
          };


          angular.element(document).ready(function () {
            $scope.loadDataOrderToTable();
          });
        },
      ]);


  </script>

</body>

</html>