<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <title>Đăng Ký</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <h2>Đăng Ký Tài Khoản</h2>
        <form
          id="registerForm"
          ng-app="registerApp"
          ng-controller="registerController"
          ng-submit="register()"
          enctype="multipart/form-data"
        >
          <div class="input-group">
            <input
              type="text"
              ng-model="user.firstName"
              placeholder="Tên"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              ng-model="user.lastName"
              placeholder="Họ"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              ng-model="user.phone"
              placeholder="Số điện thoại"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="email"
              ng-model="user.email"
              placeholder="Email"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              ng-model="user.username"
              placeholder="Tên đăng nhập"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="password"
              ng-model="user.pass"
              placeholder="Mật khẩu"
              required
            />
          </div>
          <div class="input-group">
            <input type="text" ng-model="user.address" placeholder="Địa chỉ" />
          </div>
          <div class="input-group">
            <label for="avatar">Chọn ảnh đại diện:</label>
            <input type="file" id="avatar" file-input="user.avatarFile" />
          </div>
          <div class="error" ng-show="errorMessage">{{ errorMessage }}</div>
          <div class="success" ng-show="successMessage">
            {{ successMessage }}
          </div>
          <button type="submit" class="login-btn">Đăng Ký</button>
        </form>

        <div class="register-link">
          <p>
            Đã có tài khoản?
            <a href="/assets/account/login.html">Đăng Nhập</a>
          </p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/assets/js/register.js"></script>
  </body>
</html>
