<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <title>Đăng Ký</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <h2>Đăng Ký Tài Khoản</h2>
        <form
          id="registerForm"
          ng-app="registerApp"
          ng-controller="registerController"
          ng-submit="register()"
          enctype="multipart/form-data"
        >
          <!-- Tên và họ -->
          <div class="input-group">
            <input
              type="text"
              ng-model="user.firstName"
              placeholder="Tên"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              ng-model="user.lastName"
              placeholder="Họ"
              required
            />
          </div>
          <!-- Số điện thoại và email -->
          <div class="input-group">
            <input
              type="text"
              ng-model="user.phone"
              placeholder="Số điện thoại"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="email"
              ng-model="user.email"
              placeholder="Email"
              required
            />
          </div>
          <!-- Tên đăng nhập và mật khẩu -->
          <div class="input-group">
            <input
              type="text"
              ng-model="user.username"
              placeholder="Tên đăng nhập"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="password"
              ng-model="user.pass"
              placeholder="Mật khẩu"
              required
            />
          </div>

          <!-- Địa chỉ -->
          <div id="newAddressSection">
            <select
              ng-model="address.provinceId"
              ng-change="onProvinceChange()"
              id="provinceSelect"
            >
              <option value="">-- Chọn tỉnh/thành phố --</option>
              <option
                ng-repeat="province in provinces"
                value="{{province.ProvinceID}}"
              >
                {{province.ProvinceName}}
              </option>
            </select>

            <select
              id="districtSelect"
              class="form-select"
              ng-model="address.districtId"
              ng-change="onDistrictChange()"
              required
              ng-disabled="!address.provinceId"
            >
              <option value="">-- Chọn quận/huyện --</option>
              <option
                ng-repeat="district in districts"
                value="{{district.DistrictID}}"
              >
                {{district.DistrictName}}
              </option>
            </select>

            <select
              id="wardSelect"
              class="form-select"
              ng-model="address.wardId"
              ng-change="onWardChange()"
              required
              ng-disabled="!address.districtId"
            >
              <option value="">-- Chọn phường/xã --</option>
              <option ng-repeat="ward in wards" value="{{ward.WardCode}}">
                {{ward.WardName}}
              </option>
            </select>
            <input
              type="text"
              ng-model="address.detailAddress"
              placeholder="Tên đường - Số nhà"
              class="form-control"
              required
            />
          </div>

          <!-- Ảnh đại diện -->
          <div class="input-group">
            <label for="avatar">Chọn ảnh đại diện:</label>
            <input type="file" id="avatar" file-input="user.avatarFile" />
          </div>

          <!-- Thông báo lỗi và thành công -->
          <div class="error" ng-show="errorMessage">{{ errorMessage }}</div>
          <div class="success" ng-show="successMessage">
            {{ successMessage }}
          </div>
          <!-- Nút đăng ký -->
          <button type="submit" ng-disabled="isSubmitting" class="login-btn">
            Đăng Ký
          </button>
        </form>

        <!-- Liên kết đăng nhập -->
        <div class="register-link">
          <p>
            Đã có tài khoản?
            <a href="/assets/account/login.html">Đăng Nhập</a>
          </p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/assets/js/register.js"></script>
  </body>
</html>
