/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #45348b, #f2709c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  backdrop-filter: blur(10px);
}

.login-box h2 {
  color: #fff;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  padding: 10px 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #fff;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #fff;
  color: #45348b;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
}

.login-btn:hover {
  background: #f2709c;
  color: #fff;
}

.register-link {
  color: #fff;
  margin-top: 20px;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
}

.error {
  color: red;
}
