     table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    h1 {
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd; /* Màu viền nhẹ */
        padding: 12px; /* Khoảng cách giữa viền và nội dung */
        text-align: left;
        
    }

    th {
        background-color: #acb4ad; /* Màu nền cho tiêu đề */
        color: white; /* Màu chữ cho tiêu đề */
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; /* Màu nền cho các hàng chẵn */
    }

    tr:hover {
        background-color: #ddd; /* Hiệu ứng hover cho hàng */
    }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        h1, h2 {
            text-align: center;
        }
        .detail {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        html, body {
            height: 100%;
            margin: 0;
          }
          
          .container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
          }
          
          .page-inner {
            flex: 1; /* Đảm bảo phần nội dung chiếm hết không gian còn lại */
          }
          
          .footer {
            background-color: #f8f9fa; /* Màu nền footer */
            padding: 20px;
            bottom: 0;
            width: 100%;
          }
          html, body {
            height: 100%;
            margin: 0;
          }
          
          .container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
          }
          
          
          
          .footer {
            background-color: #f8f9fa;
            padding: 20px;
            bottom: 0;
            width: 100%;
            margin-top: auto; /* Đẩy footer xuống dưới cùng của .page-inner */
            text-align: center;
          }
          